{% extends "root.html" %}

{% block header %}
<h1>Create Agent Link</h1>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <p>Agent link for <b>{{ client["name"] }} </b>/<b> {{ site["name"] }}</b>:</p>
        <p><a href="https://agent.cilix.co.uk/{{ agent_hash }}/agent.exe">https://agent.cilix.co.uk/{{ agent_hash }}/agent.exe</a></p>
    </div>
</div>

<hr/>

<a class="btn btn-default" href="javascript:history.go(-1)">Create Another</a>
{% endblock %}