<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="The Cilix management portal."/>

        <link rel="shortcut icon" href="/static/images/favicon.png"/>

        <!-- Scripts -->
        <script src="/static/script/external/jquery.js"></script>
        <script src="/static/script/external/jquery_cookie.js"></script>
        <script src="/static/script/external/bootstrap.js"></script>
        <script src="/static/script/theme_selector.js"></script>

        <!-- Style -->
        <link rel="stylesheet" href="/static/style/external/bootstrap.css"/>
        <link rel="stylesheet" href="/static/style/external/theme/spacelab.css" class="theme-sheet"/>
        <link rel="stylesheet" href="/static/style/theme_customisation/spacelab.css" class="theme-sheet-customisation"/>
        <link rel="stylesheet" href="/static/style/external/font-awesome.css"/>
        <link rel="stylesheet" href="/static/style/main.css"/>

        <title>Cilix | Portal</title>

        {% block head %}
        {% endblock %}
    </head>

    <body>
        <!-- Navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Cilix | Portal</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    {% if session.authenticated %}
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li {% if request.path == "/" %} class="active" {% endif %}>
                            <a href="/">Home</a>
                        </li>

                        <!-- Documentation -->
                        <li {% if request.path.split("/")[1] == 'documentation' %} class="active" {% endif %}>
                            <a href="/documentation">Documentation</a>
                        </li>

                        <!-- Tools -->
                        <li class="dropdown {% if request.path.split("/")[1] == 'tools' %} active {% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Tools <span class="caret"</span></a>

                            <ul class="dropdown-menu">
                                <li {% if request.path.split("/")[2] == 'create_agent_link' %}class="active"{% endif %}>
                                    <a href="/tools/create_agent_link">Create Agent Link</a>
                                </li>

                                <li {% if request.path.split("/")[2] == 'package_manager' %}class="active"{% endif %}>
                                    <a href="/tools/package_manager">Package Manager</a>
                                </li>

                                <li {% if request.path.split("/")[2] == 'password_generator' %}class="active"{% endif %}>
                                    <a href="/tools/password_generator">Password Generator</a>
                                </li>

                                <li {% if request.path.split("/")[2] == 'setup_workstation' %}class="active"{% endif %}>
                                    <a href="/tools/setup_workstation">Setup Workstation</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Logout -->
                        <li {% if request.path == "/auth/logout" %} class="active" {% endif %}>
                            <form id="logout" action="/auth/logout" method="POST">
                                <input type="hidden" name="_CSRF_TOKEN_" value="{{ _CSRF_TOKEN_ }}">
                            </form>

                            <a onclick="$('#logout').submit()">Logout</a>
                        </li>
                    </ul>
                    {% endif %}

                    <!-- Theme Dropdown -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <span class="fa fa-tint"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="#" data-theme="slate" class="theme-link">Slate</a></li>
                                <li><a href="#" data-theme="spacelab" class="theme-link">Spacelab</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Header -->
        <div class="page-header">
            <div class="container">
                {% block header %}
                <h1>Home</h1>
                {% endblock %}
            </div>
        </div>

        <!-- Content -->
        <div class="container">
            {% block content %}
            <p>Welcome to the Cilix management portal.</p>
            {% endblock %}
            <br/>
            <br/>
        </div>
    </body>
</html>
