{% extends "root.html" %}

{% block header %}
<h1>Setup Workstation</h1>
{% endblock %}

{% block content %}
<script>
    function update_site_select() {
        var client_id = $("#client").val();

        $("#site").empty();

        $.getJSON("/tools/setup_workstation/site_select_ajax/" + client_id, function(sites) {
            $.each(sites, function(index, site) {
                $("#site").append($("<option></option>").attr("value", site["id"]).text(site["name"]));
            });
        });
    }

    window.onload = update_site_select;

    function confirm_prerequisites() {
        return confirm(`
Please confirm these prerequisites before installing:
1) The computer is connected to a stable internet connection
2) The Office installer has already been run (if applicable)
3) The Dell Digital Delivery install has already been run (if applicable)
4) Adobe Acrobat Standard is not already installed (if installing Adobe Reader)

After installing, please confirm these postrequisites:
1) Add an entry to the client issue log
2) Add a label to the computer
3) Delete the Setup Workstation binary
        `);
    }
</script>

<form action="/tools/setup_workstation/post" method="POST" onsubmit="return confirm_prerequisites();">
    <input type="hidden" name="_CSRF_TOKEN_" value="{{ _CSRF_TOKEN_ }}">

    <div class="form-group">
        <label for="client">Client:</label>
        <select id="client" name="client" class="form-control" onchange="update_site_select()" required>
            {% for client in clients %}
            <option value="{{ client["id"] }}">{{ client["name"] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="site">Site:</label>
        <select id="site" name="site" class="form-control" required>
        </select>
    </div>

    <hr/>

    <h4>Packages</h4>
    <div class="form-group">
        {% for package in packages %}
        <div class="checkbox">
            <label><input type="checkbox" name="{{ package["name"] }}"> {{ package["name"] }}</label>
        </div>
        {% endfor %}
    </div>

    <hr/>

    <button type="submit" class="btn btn-default">Download Installer</button>
</form>
{% endblock %}
